body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.quick-links {
    background-color: #a20101;
    padding: 10px 0;
}

.quick-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.quick-links li {
    margin-right: 20px;
    font-size:x-large;
}

.quick-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

.quick-links a:hover {
    color: #ffd700;
}

header {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-height: 100px;
}

.header-content {
    display: flex;
    flex-direction: column;
}

.header-content h1,
.header-content h2,
.header-content h3 {
    margin: 0;
}

.professor-info {
    padding: 20px;
}

.student-lists {
    display: flex;
    justify-content: space-between;
    flex-direction: row; /* Ensure a side-by-side layout */
}

.student-list {
    width: 48%; /* Adjust as needed */
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ddd; /* Optional: Add a border for separation */
    margin-bottom: 20px; /* Optional: Adjust spacing between student lists */
}


/* Position the navigation bar fixed at the top */
.quick-links {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #5a0b0b; /* Add desired background color */
    z-index: 1000; /* Ensure it's above other content */

  }

/* Your existing styles can go here */

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.popup-content {
    text-align: center;
}

.popup button {
    margin: 10px;
}


